.wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.result {
  position: relative;
  margin-right: -20rem;


  .result_calc {
    color: rgb(0, 189, 0);
    font-size: 2.7rem;
  }

  &.warning {
    .result_calc {
      color: red;
    }
  }
}